/EcommerceProject/nbproject/private/
/EcommerceProject/EcommerceProject-war/nbproject/private/
/EcommerceProject/EcommerceProject-ejb/nbproject/private/
/EcommerceProject/EcommerceProject-war/build/
/EcommerceProject/EcommerceProject-ejb/dist/
/EcommerceProject/EcommerceProject-ejb/build/
/EcommerceProject/EcommerceProject-war/dist/