<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="../third_party/bootstrap-4.5.1/css/bootstrap.css">
        <link rel="stylesheet" href="../third_party/fontawesome-5.14.0/css/fontawesome.css">
        <link rel="stylesheet" href="../third_party/fontawesome-5.14.0/css/regular.css">
        <link rel="stylesheet" href="../third_party/fontawesome-5.14.0/css/all.css">
        <title> NomeLoja | Sua loja favorita </title>
    </head>
    <body>
        <header>
            <div class="main_header">
                <div class="logo"><a href="index.html"><img src="img/logo.png" alt="NomeLoja"></a></div>
                <div class="buscar">
                    <form action="">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar Produtos" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div> 
                    </form>
                </div>
                <div class="links_usuario">
                    <span class="saudacao">Bem vindo, Tibet</span>
                    <div class="links">
                        <div class="login_cadastro"><a href="login.html" class="fas fa-user"></i></a></div>
                        <div class="sacola"><a href="sacola.html"><i class="fas fa-shopping-bag"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="categorias">
                <ul>
                    <li class="first_item"><a href="http://">Novidades</a></li>
                    <li><a href="http://">Conforto</a></li>
                    <li><a href="http://">Feminino</a></li>
                    <li><a href="http://">Masculino</a></li>
                    <li><a href="http://">Infantil</a></li>
                    <li><a href="http://">Bolsas e Acessórios</a></li>
                    <li><a href="http://">Calçados</a></li>
                    <li><a href="http://">Esportivo</a></li>
                    <li><a href="http://">Moda Íntima</a></li>
                    <li><a href="http://">Ofertas</a></li>
                </ul>
            </div>
        </header>
        <footer>
            <div class="footer_group">
                <div class="atendimento_ajuda">
                    <div>
                        <a href="http://">
                            <i class="fas fa-store"></i>
                            <span>Retire na Loja</span>
                        </a>
                    </div>
                    <div>
                        <a href="http://">
                            <i class="fas fa-credit-card"></i>
                            <span>Pague Online</span>
                        </a>
                    </div>     
                    <div>
                        <a href="http://">
                            <i class="fas fa-boxes"></i>
                            <span>Entrega Expressa</span>
                        </a>
                    </div>
                    <div>
                        <a href="http://">
                            <i class="fas fa-comments"></i>
                            <span>Fale Conosco</span>
                        </a>
                    </div>     
                </div>
                <div class="sobre_nos">
                    <span>Sobre Nós</span>
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                        <li><a href="">Link 5</a></li>
                        <li><a href="">Link 6</a></li>
                        
                    </ul>
                </div>
                <div class="perguntas_frequentes">
                    <span>Perguntas Frequentes</span>
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                        <li><a href="">Link 5</a></li>
                        <li><a href="">Link 6</a></li>
                    </ul>
                </div>
                <div class="rede_social_footer">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </footer>
    </body>
</html>