ul {
    list-style: none;
    padding-left: 0;
}

body a {
    color: #555555;
}

body a:hover {
    color: #000000;
    text-decoration: none;
}

header {
    margin-top: 30px;
}

header .user-links i {
    font-size: 20px;
}

header .main-header .logo img {
    width: 150px;
    height: 70px;
}

.category-menu {
    margin-top: 30px;
}

.banner img {
    width: 100%;
    height: 425px;
}

.main-body {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-products {
    margin-top: 30px;
    text-align: center;
}

.main-products .title-home-page {
    text-transform: uppercase;
    font-size: 24px;
}

.main-products .row {
    margin-top: 25px;
}

.main-products .main-product .main-product-info span {
    display: block;
}

.main-products .main-product .main-product-info .main-product-name {
    font-weight: bold;
    font-size: 16px;
}

.main-products .main-product .main-product-info .main-product-price {
    font-size: 14px;

}

footer {
    background-color: #dddddd;
    padding-top: 30px;
}

footer .help, 
footer .about-us, 
footer .frequently-questions, 
footer .social-networks {
    text-align: center;
}

footer .about-us span, 
footer .frequently-questions span, 
footer .social-networks span {
    text-transform: uppercase;
    font-weight: bold;
    color: #444444;
}

footer .help a i{
    display: block;
}

footer .social-networks span {
    display: block;
}

footer .help .help-intern div {
    margin-top: 10px;
    line-height: 20px;
}

footer .help .help-intern div span {
    line-height: 25px;
}

footer .help .help-intern div i {
    font-size: 20px;
}

footer .social-networks div {
    margin-top: 10px;
}

footer .social-networks i {
    font-size: 30px;
}

a:hover .fa-facebook-square {
    color: #4267b2;
}

a:hover .fa-twitter {
    color: #1da1f2;
}

a:hover .fa-instagram {
    color: #ff00ff;
}

a:hover .fa-youtube {
    color: #ff0000;
}

.login-page {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.form-login {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form-login form {
    margin-top: 30px;
}

.login-page .login-title,
.registration-area span {
    text-transform: uppercase;
    font-size: 24px;
}

.form-login .forgot-password {
    display: block;
    font-style: italic;
    text-align: right;
}

.form-login .forgot-password a:hover {
    text-decoration: underline;
}

.form-login .btn-login {
    margin-top: 20px;
}

.registration-area {
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
}

.registration-area span {
    display: block;
}

.registration-area a {
    margin-top: 20px;
}

.register-page .form-register {
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.register-page .form-register .register-title {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
}

.register-page .form-register .required-field {
    display: block;
    font-style: italic;
    text-align: right;
    color: #bb3333;
    margin-top: 30px;
}

.shopping-bag {
    margin: 0 auto;
    margin-top: 60px; 
    margin-bottom: 40px; 
    text-align: center;
}

.shopping-bag .form-shopping .shopping-bag-title {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
}

.shopping-bag .form-shopping .shopping-bag-empty {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #bb3333;
    display:none;
}

.shopping-bag-products {
    margin-top: 40px;
}

.shopping-bag-product {
    text-align: center;
}

.shopping-bag-product span {
    display: block;
}

.shopping-bag-product .shopping-bag-product-quantity {
    margin-top: 15px;
}

.shopping-bag-products .aside {
    margin-bottom: 30px;
    background-color: #eeeeee;
    padding: 20px 15px;
}

.shopping-bag-products .aside > span{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;

}

.shipping > .container > span {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.shipping .shipping-information {
    text-align: left;
    margin-bottom: 30px;

}

.shipping .shipping-information span {
    display: block;
}

.shopping-bag-products .total-price span {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 30px;
    color: #000088;
}

.shipping-calculate {
    margin-top: 20px;
    margin-bottom: 30px;
}

.shipping-calculate button{
    margin-top: 20px;
}

.shopping-bag-product {
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-bag-product img {
    width: 90px;
    height: 110px;
}

.shopping-bag-product .shopping-bag-product-name {
    font-size: 16px;
}

.header-table-product > .row > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.shopping-bag-product .remove-product i {
    font-size: 30px;
    color: #555555;
}

.shopping-bag-product .remove-product i:hover {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}
